.catalog_btns {
  display: flex;
  font-family: "Raleway", serif;
  justify-content: space-between;
  margin-top: 10%;
  scroll-margin-top: 70px;

  h1 {
    font-size: 30px;
  }

  .catalog_btn {
    white-space: nowrap;
    margin-right: 12%;

    button {
      border-radius: 20px;
      border: none;
      background-color: #D4E8D9;
      color: #2C2D35;
      height: 40px;
      width: 130px;
      font-size: 17px;
      margin: 0 5%;
      transition: 0.5s;

      &:hover {
        border: 2px solid #598D66;
      }
    }

    .active {
      background-color: #376B44;
      color: #fff;

      &:hover {
        border: none;
      }
    }
  }
}

.main_catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
