.main_section {
  display: flex;
  font-family: "Raleway", serif;

  section {
    margin-left: 14%;

    h1 {
      font-size: 50px;
      margin-top: 30%;
    }

    p {
      margin-top: 8%;
      font-size: 23px;
      color: #86928B;
      line-height: 30px;
    }

    button {
      margin-top: 10%;
      background-color: #fff;
      color: #598D66;
      width: 250px;
      height: 70px;
      font-size: 20px;
      border: 2px solid #598D66;
      transition: 0.4s;

      &:hover {
        background-color: #598D66;
        color: #fff;
      }
    }
  }

}