.about_container {
	font-family: "Raleway", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 7%;
}

.about_text {
  margin-top: 6%;
  max-width: 700px;
  margin-left: 5%;  

  h1 {
    font-size: 40px;
    margin-bottom: 5%;
  }

  p {
    font-size: 20px;
    line-height: 30px;
  }

  .about_text_img {
    list-style: none;
    margin-top: 4%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 2rem);

    img {
      padding: 0 2%;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      transition: translate 200ms;

      &:hover~img {
        translate: 3.5rem;
      }
    }
  }
}