@media screen and (max-width: 1000px) {

  .main_container {
    width: 100%;

    img {
      display: none;
    }
  }

  .main_section {   

    section {
      margin-left: 4%;

      h1 {
        font-size: 35px;
      }

      p {
        font-size: 20px;
      }

      button {
        height: 50px;
      }

    }
  }

  .main_catalog {

    .catalog_post {
      height: 100%;
    }
  }
}